.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 980px;
	height: 640px;
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.modal .close {
	float: right;
}

.iframe {
	width: 100%;
	height: 100%;
}
